aiohttp
asgiref
async-timeout
attrs
beautifulsoup4
bs4
certifi
chardet
crawler
Django
django-cors-headers
django-simpleui
djangorestframework
greenlet
idna
idna-ssl
importlib-metadata
lxml
multidict
pytz
simplejson
soupsieve
sqlparse
typing_extensions
yarl
zipp
numpy
chromadb
sentence-transformers
opencv-python
